# OpenAI
OPENAI_API_KEY=sk-your-openai-api-key
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL_NAME=glm-4.6

# Anthropic
ANTHROPIC_API_KEY=sk-ant-your-anthropic-api-key

# Common
NODE_ENV=development

# 阿里云千问模型相关配置
QWEN_API_KEY=sk-your-openai-api-ke
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_MODEL_NAME=qwen-coder-turbo

# 高德地图API Key
AMAP_MAPS_API_KEY=8596395abd389a46d1323e8998680287

# 本地系统允许访问的路径
ALLOWED_PATHS=C:/Users/Administrator/Desktop,E:/xxx/xxx
